body {
  color: #333;
  font-family: Verdana, sans-selif
  margin: 0;
  margin: 0;
}

header {
    background-color: pink;
    text-align: right;
    padding: 10px;
    background-image: url(../img/header.png);
    height: 240px;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 40px;
}

header ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

header li {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
}

header li > a {
  text-decoration: none;
  color:inherit;
}

header li > a:hover {
  color:royalblue
}

.current {
  border-bottom: 4px solid royalblue;
}

section {
  text-align: center;
}

section h1 {
  font-weight: normal;
  margin-bottom: 0;
}

section p {
  margin-top: 8px;
  font-size: 14px;
}

.icon {
  border-radius: 50%;
  border: white solid 5px;
  box-shadow: 0 0 5px gray;
}

.works {
  width: 400px;
  margin: 60px auto;
  border-bottom: 1px solid gray;
}

.works > section {
  margin-bottom: 60px;
}

.works h1 ,
.works p {
  text-align: left;
}

footer {
  width: 400px;
  margin: 0 auto 60px;
}

footer ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  float: left;
}

footer li {
  display: inline-block;
}

footer li > a:hover {
  opacity: 0.6;
}

footer p {
  color: lightgray;
  font-size: 14px;
  text-align: right;
}

.about {
  width: 400px;
  margin: 0 auto 60px;
}

.about p {
  text-align: left;
}
